.login-btn {
  margin-left: auto;
  margin-right: 20px;
}

.nav-item {
  border-color: white;
  border-width: 0px thick;
  font-size: 15px;
  margin-left: 30px;
  min-height: 50px;
  padding: 0px 10px;
}

.nav-item:hover {
  background-color: #e7e5e5;
}
