.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-btn {
  margin-left: auto;
}

.header {
  display: flex; 
  flex-direction: row;
  text-align: center;
  background-color: aquamarine;
}
