.puzzle-card {
    background-color: white;
    border: 2px solid rgba(177, 175, 175, 0.55);
    border-radius: 20px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
    height: 75px;
    margin: 30px;
    padding: 30px;
    width: 300px; 
}

.puzzle-card:hover {
    background-color: #b8b3b3;
    cursor: pointer;
}

.main-info {
    display: flex; 
    flex-direction: row; 
    line-height: 30px;
    height: 20px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    color: rgb(43, 43, 43);
}

.status {
    font-weight: normal;
    font-size: 14px;
    margin-left: auto;
    margin-top: auto;
}

.body {
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.hide-btn {
    /* align-content: center; */
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(177, 175, 175, 0.55);
    color: rgba(0, 0, 0, 0.85);
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 30px; 
    align-content: center;
    /* justify-content: center; */
    margin-bottom: auto;
    margin-left: auto;
    width: 60px;
  }